<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<!--This is how we could get bean from xml file
We have class and for took bean - we took it trough here
call it by ID -->
<!--5-->
    <bean id = "phone"
          class="com.example.ioc1.InitAndDestroy.Phone"
          init-method="init"
          destroy-method="destroy">
    </bean>

</beans>